.draggable-labels-control {
    background: #f6f6f6;
    position: relative;
    overflow: hidden;
    .white-line {
        height: 100%;
        width: 1px;
        background: #cdcdcd;
        display: inline-block;
        margin-left: 227px;
    }
    .white-line:last-child {
        display: none;
    }
}