.draggable-labels-control {
    background: #eec285;
    position: relative;
    .white-line {
        height: 100%;
        width: 1px;
        background: white;
        display: inline-block;
        margin-left: 299px;
    }
}