.reveal-modal.confirmation-modal {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  position: fixed;
  top: 25% !important;
  left: 0;
  right: 0;
  transform: translateY(-25%);
  z-index: 99;
  background-color: white;
  border: none;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.35);
  font-size: 14px;
  margin: 0 auto !important;
  width: 100% !important;
  max-width: 450px;
  outline: none;

  .footer .button {
    padding: 10px 0;
    min-width: 97px;
    margin: 0 3px;
  }

  .glyph-icon {
    font-size:48px;
    color: #fd7700;
    display: block;
    vertical-align: top;
  }

  .content {
    font-size: 16px;
    color: #555;
    line-height: 1.25;
    padding-top: 3px;
    padding-left: 66px;
    position: relative;
    min-height: 48px;
    padding-right: 0;
    .icon {
      left: 0;
      top: 7px;
      height: 48px;
      display: block;
      position: absolute;
    }
  }

  .wrapper {
    padding: 20px 20px 19px;
  }
  
  .footer {
    margin-top: 20px;
    padding: 0;
  }
}