.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
  li {
    padding: 1px;
    color: #ddd;
    font-size: 14px;
    list-style-type: none;
    display: inline-block;
    &.filled {
      color: #eacc25;
    }
  }
}