.column-names {
    .column-title {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        padding: 10px 6px 10px 10px;
        background: #555555;
        border: 1px solid #cdcdcd;
        border-right: none;

        width: 228px;
        display: inline-block;
    }
    white-space: nowrap;
}
