<div class="layout-switcher" ng-class="{show: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
    <label><input type="radio" ng-model="hash.contentLevel" value="minimum"/>Minimum Content Level</label>
    <label><input type="radio" ng-model="hash.contentLevel" value="medium"/>Medium Content Level</label>
    <label><input type="radio" ng-model="hash.contentLevel" value="maximum"/>Maximum Content Level</label>
    <hr/>
    <label><input type="radio" ng-model="hash.layout" value="planner"/>Planner</label>
    <label><input type="radio" ng-model="hash.layout" value="plannerNoTasks"/>Planner [no tasks]</label>
    <label><input type="radio" ng-model="hash.layout" value="emptyPlanner"/>Empty planner</label>
    <label><input type="radio" ng-model="hash.layout" value="workTracker"/>Work Tracker</label>
    <label><input type="radio" ng-model="hash.layout" value="emptyWorkTracker"/>Empty Work Tracker</label>
    <hr/>
    <label><input type="checkbox" ng-model="hash.readOnly"/>Read Only</label>
    <label><input type="checkbox" ng-model="hash.empty"/>Empty State</label>
</div>
