.draggable-label {
    display: inline-block;
    padding: 2px;
    &.draggy {
        position: absolute;
        display: block;
    }
    &.opacity {
        opacity: 0.5;
    }
    &.blink {
        .draggable-label-content {
            background: rgba(255, 163, 0, 0.42);
        }
    }
    .draggable-label-content {
        transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        padding: 2px;
        background: #fff;
        position: relative;
        cursor: pointer;
        color: #5D5D5D;
        font-weight: bold;
        font-size: 14px;
    }

    .remove-button {
        position: absolute;
        right: 4px;
        top: 2px;
    }

    .resize-button {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        cursor: col-resize;
        .resize-button-indicator {
            background: url('draggable-indicator.png');
            width: 4px;
            position: absolute;
            left: 4px;
            top: 4px;
            bottom: 4px;
        }
    }

    .group-name {
        margin-left: 11px;
        margin-top: 2px;
    }
}