.draggable-label {
    &.opacity {
        opacity: 0.5;
    }
    position: absolute;
    background: #fff;
    color: #5D5D5D;
    font-weight: bold;
    font-size: 14px;
    //margin: 3px;
    height: 22px;

    cursor: pointer;
    display: block;

    .remove-button {
        position: absolute;
        right: 4px;
        top: 2px;
    }

    .resize-button {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        cursor: col-resize;
        .resize-button-indicator {
            background: url('draggable-indicator.png');
            width: 4px;
            position: absolute;
            left: 4px;
            top: 4px;
            bottom: 4px;
        }
    }

    .group-name {
        margin-left: 11px;
        margin-top: 2px;
    }
}