<div class="task-group-list">
    <div class="white-line-wrapper">
        <div class="white-line" ng-repeat="column in columns" ></div>
    </div>

    <div ng-repeat="line in lines" class="task-group-line">
        <task-group group="group" width="228" ng-repeat="group in line.groups track by group.id" settings="settings"></task-group>
    </div>
    <div class="task-group-empty" ng-if="!lines.length" ng-hide="settings.readOnly">
        <p>You haven't selected any {{settings.groupContentType}}</p>
        <p><a ng-href="" onClick="alert('no action yet')">Go Back</a><span>&nbsp;and add {{settings.groupContentType}}</span></p>
    </div>
</div>