<h2 class="modal-title">{{settings.taskModalWindowTitle}}
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</h2>
<div class="wrapper">
    <div class="row">
        <div class="column small-12">
            <div class="header">
                <div class="app-tag">
                    <glyph-icon icon="task.appRef" class="card-icon"></glyph-icon>
                </div>
                <span class="title">{{task.appName}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <div class="name">
                <span ng-show="settings.tasksDisplayFields.resourceName">{{task.resourceName}}</span>
                <span ng-show="settings.tasksDisplayFields.taskName">{{task.taskName}}</span>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="settings.readOnly">
        <div class="column small-12 toolbar">
            <button ng-if="settings.allowCopyTask" class="button white toolbar-button" ng-click="copy(task)">
                <span class="glyph-icon tollbar-icon"><span class="glyph-copy4"></span></span>
                <span>Copy</span>
            </button>
            <button ng-if="settings.allowDeleteTask" class="button white toolbar-button" ng-click="removeCard(task)">
                <span class="glyph-icon tollbar-icon"><span class="glyph-remove"></span></span>
                <span>Delete</span>
            </button>
        </div>
    </div>
    <div ng-show="settings.tasksDisplayFields.description" class="row">
        <div class="column small-12">
            <div class="description">
                <!--<h3 class="legend"><span>Description</span></h3>-->
                <hr class="modal-divider"/>
                <p class="description">{{task.description}}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column small-12">
            <div class="details">
                <!--<h3 class="legend"><span>Details</span></h3>-->
                <hr class="modal-divider"/>
                <div class="row">
                    <div class="column medium-6">
                        <p class="task-field" ng-show="settings.tasksDisplayFields.ownerAppLogo">
                            <img class="owner-logo" src="https://placeholdit.imgix.net/~text?txtsize=8&txt=200%C3%9730&w=200&h=30"/></p>
                        <p class="task-field" ng-show="settings.tasksDisplayFields.ownerName">
                            <span class="field-label">Owner:&nbsp;</span>
                            <span>{{task.ownerName}}</span></p>
                        <p class="task-field" ng-show="settings.tasksDisplayFields.assigneeName">
                            <span class="field-label">Assignee:&nbsp;</span>
                            <span>{{task.assigneeName}}</span></p>
                        <p class="task-field assignees" ng-show="settings.tasksDisplayFields.assignees">
                            <span ng-style="{color: task.group.color}">{{task.assignees}}</span></p>
                        <p class="task-field" ng-show="settings.tasksDisplayFields.type">
                            <span class="field-label">Task Type:&nbsp;</span>
                            <span>{{task.type}}</span></p>
                        <p class="task-field" ng-show="settings.tasksDisplayFields.state">
                            <span class="field-label">Status:&nbsp;</span>
                            <span>{{task.state}}</span></p>
                    </div>
                    <div class="column medium-6">
                        <p class="task-field" ng-show="settings.tasksDisplayFields.creationDate">
                            <span class="field-label">Created:</span>
                            <span>{{task.creationDate | date : "MMM d, y '/' h:mm a"}}</span></p>
                        <p class="task-field" ng-show="settings.tasksDisplayFields.modifiedDate">
                            <span class="field-label">Modified:</span>
                            <span>{{task.modifiedDate | date : "MMM d, y '/' h:mm a"}}</span></p>
                        <p class="task-field" ng-show="settings.tasksDisplayFields.assignability">
                            <span class="field-label">Assignability:</span>
                            <span>{{task.assignability}}</span></p>
                        <p class="task-field" ng-show="settings.tasksDisplayFields.priority">
                            <priority-level value="task.priority"></priority-level></p>
                        <p class="task-field" ng-show="settings.tasksDisplayFields.rating">
                            <star-rating value="task.rating"></star-rating></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column footer">
            <button class="button" ng-click="cancel()">Close</button>
        </div>
    </div>
</div>
