.task-card-modal {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    visibility: hidden;
    display: none;
    position: absolute;
    left: 50%;
    z-index: 99;
    height: auto;
    width: 80%;
    background-color: white;
    border: solid 1px #555;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    outline: none;
    top: 50px;
    font-size: 14px;

    .card-icon {
        font-size: 24px
    }

    .modal-title {
        padding: 10px;
        font-size: 16px;
        min-height: 40px;
        margin: 0;
        background: #555;
        color: #fff;
        font-weight: 400;
        .large-3 {
            padding: 0;
        }
    }

    .task-field {
        font-size: 14px;
        margin: 6px 0;
        font-weight: 400;
        line-height: 1;
    }

    .legend {
        color: #aaa7a7;
        font-weight: 400;
        position: relative;
        font-size: 12px;
        margin-bottom: 5px;
        span {
            background: #fff;
            padding-right: 10px;
        }
    }

    .legend:after {
        content: "\00a0";
        position: absolute;
        border-bottom: 1px solid #e7e7e7;
        left: 0;
        right: 0;
        top: -50%;
        z-index: -1;
    }

    .header {
        display: table;
        table-layout: fixed;
        width: 100%;
        min-height: 40px;
    }

    .title {
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        font-weight: 600;
        text-transform: capitalize;
        padding-right: 8px;
        padding-top: 5px;
    }

    .app-tag {
        width: 31px;
        text-align: left;
        vertical-align: middle;
        display: table-cell;
    }

    .name {
        font-size: 16px;
        text-transform: capitalize;
        margin-bottom: 5px;
        margin-top: 10px;
        font-weight: 600;
    }

    .description {
        font-size: 14px;
        margin: 6px 0 12px 0;
    }

    .tollbar-icon {
        font-size: 16px;
        margin-right: 5px;
    }

    .toolbar-button {
        color: #31b3ff;
        vertical-align: middle;
        display: inline-block;
        line-height: 16px;
        font-weight: 400;
        padding: 0;
        margin: 10px 25px 10px 0;
        font-size: 14px;
        span {
            vertical-align: middle;
        }
    }

    .priority-level {
        font-size: 14px;
        font-weight: 600;
    }

    .star-rating li {
        font-size: 18px;
    }

    .field-label {
        font-weight: 600;
    }

    .link-text {
        vertical-align: middle;
    }
    .link-icon {
        font-size: 16px;
        vertical-align: middle;
        display: inline-block;
        margin-left: 6px;
        margin-top: -10px;
        position: relative;
        top: 4px;
    }
}

@media only screen and (min-width: 768px) {
    .reveal-modal {
        padding: 0;
        top: 6.25em;
    }
    .reveal-modal.tiny {
        margin-left: -15%;
        width: 30%;
    }
    .reveal-modal.small {
        margin-left: -20%;
        width: 40%;
    }
    .reveal-modal.medium {
        margin-left: -30%;
        width: 60%;
    }
    .reveal-modal.large {
        margin-left: -35%;
        width: 70%;
    }
    .reveal-modal.xlarge {
        margin-left: -47.5%;
        width: 95%;
    }
}