.task-group {
    .unbold {
        font-weight: normal;
    }
    &.transiton {
        transition: all 0.5s ease;
    }
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 2px 5px;
    &.draggy {
        position: absolute;
        display: block;
    }
    &.expanded-group {
        .task-group-content {
            background: white !important;
        }
        .info {
            display: block;
        }
        .drag-button {
            background: #763597;
            color: white;
            padding-top: 10px;
            padding-left: 1px;
        }
        .card-icon {
            display: inline-block;
        }
        .resize-button {
            margin-top: 2px;
        }
        .group-name {
            margin-top: 2px;
            margin-bottom: 7px;
        }
        .after-button-area {
            margin-top: 6px;
            margin-left: 19px;
            margin-bottom: 7px;
            display: inline-block;
        }
    }

    .after-button-area {
        margin-left: 6px;
        cursor: pointer;
    }

    .task-group-color {
        position: absolute;
        top: 0;
        height: 100%;
        background-color: black;
        width: 6px;
        left: 0;
        bottom: 0;
    }

    .task-group-content {
        cursor: pointer;
        transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
        padding: 2px 2px 6px 4px;
        background: #f6f6f6;
        position: relative;
        color: #5D5D5D;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid #efefef;
        border-left: none;
        &.opacity {
            background: #ffffff !important;
            border-left: 1px solid;
        }
        &.opacity > * {
            opacity: 0;
        }
    }

    .info {
        display: none;
        margin-left: 11px;
        .group-info {
            display: inline-block;
            width: 201px;
            vertical-align: top;
            font-weight: 300;
            &.secondary {
                color: #AEACAD;
            }
            &.status {
                color: #ff331d;
                &.complete {
                    color: #41903D;
                }
            }
        }
    }

    .card-icon {
        display: none;
    }

    .group-name {
        margin-left: 15px;
        margin-top: 6px;
        margin-bottom: 3px;

        display:inline-block;
        width:77%;
        white-space: nowrap;
        overflow:hidden !important;
        text-overflow: ellipsis;
    }


    .resize-button {
        color: #C1C3C5;
        z-index: 90;
        display: inline-block;
        cursor: col-resize;
        position: absolute;
        top: 6px;
        bottom: 2px;
        right: 9px;
    }

    .drag-button {
        color: #C1C3C5;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20px;
        padding-top: 7px;
        cursor: move;
    }
}

.kanban-read-only {
    .task-group .after-button-area {
        margin-left: 0;
    }
}