$gutter: 6px;
$marker-height: 4px;
$blue-marker: #326295;
$green-marker: #1E9C9F;
$orange-marker: #df6826;
.kanban-card {
    font-size: 14px;
    color: #555555;
    background-color: #ffffff;
    border-top: $marker-height solid #ccc;
    margin: $gutter $gutter $gutter 0 ;
    position: relative;
    z-index: 0;
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: -$marker-height;
        height: $marker-height;
        width: 100%;
    }
    &.blue:before {
        background: $blue-marker;
        outline: 1px solid $blue-marker;
    }
    &.green:before {
        background: $green-marker;
        outline: 1px solid $green-marker;
    }
    &.orange:before {
        background: $orange-marker;
        outline: 1px solid $orange-marker;
    }
    .card-wrapper {
        display: table;
        width: 100%;
        table-layout: fixed;
        min-height: 86px;
        &.opacity {
            opacity: 0.5;
        }
    }
    .card-content {
        display: table-cell;
        padding: $gutter;
    }
    .card-handle {
        font-size: 24px;
        display: table-cell;
        padding: 10px $gutter;
        vertical-align: middle;
        word-wrap: break-word;
        color: #a5a5a5;
        width: 20px;
        line-height: 0.5;
    }
    .card-code {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 2px;
    }
    .card-name {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    .card-control {
        display: table-cell;
        width: 32px;
        padding: 10px $gutter;
        vertical-align: top;
    }
    .card-remove {
        color: #cccccc;
        font-size: 20px;
        font-weight: 100;
        cursor: pointer;
        &:hover {
            color: #D13F19;
        }
    }
    .card-icon {
        vertical-align: text-bottom;
        display: inline-block;
    }

    p {
        font-size: 14px;
        line-height: 1.5;
    }

    hr {
        margin: $gutter 0;
    }

    strong {
        font-weight: bold;
    }
}