<div class="card-wrapper" ng-lazy-click="clickCallbacks(task, $event, false)"
     ng-mousedown="highlightTask(task, $event)"
     data-as-sortable-item-handle>
    <div class="card-color" ng-if="::groupColor" ng-style="::{'background': groupColor}"></div>
    <button class="button card-button delete-card-button" type="button"
            ng-click="deleteTask($event, task)"
            ng-if="::!task.published"
            ng-show="task.$edit">
        <span class="glyph-icon"><span class="glyph-close"></span></span>
    </button>
    <div class="card-header">
        <div class="card-handle"></div>
        <div class="app-tag" ng-if="::fields.appRef">
            <span class="glyph-icon card-icon"><span ng-class="::task.appRef"></span></span>
        </div>
        <div class="card-title" ng-if="::fields.appName">
            <span class="card-name">{{::task.appName}}</span>
        </div>
        <div class="card-title" ng-if="::fields.rliDevType">
            <span class="card-name">{{::task.rliDevType.name}}</span>
        </div>
    </div>
    <div class="card-content">
        <p class="task-name" ng-if="::fields.taskName" ng-bind-html="::task.taskName | sanitize"></p>
        <p class="task-name" ng-if="::fields.primarySlot" ng-bind-html="::task.primarySlot | sanitize"></p>
        <p class="task-description" ng-if="::fields.description">{{::task.description}}</p>
        <hr class="card-divider" ng-if="::(fields.taskName || fields.primarySlot)"/>
        <p ng-if="::fields.ownerAppLogo"><img class="owner-logo" ng-src="{{::task.ownerAppLogo}}"/></p>
        <p ng-if="::fields.assignees" ng-style="::{color: task.assigneesColor}">
            <span class="task-assignee">{{::task.assignees}}</span>
        </p>
        <div class="additional-details">
            <div class="task-owner" ng-if="::fields.assigneeName">
                <p class="owner-avatar" ng-if="::fields.ownerPicture"><img ng-src="{{::task.ownerPicture}}"/></p>
                <p class="owner-name">{{::task.assigneeName}}</p>
            </div>
            <p ng-if="::fields.rating">
                <star-rating value="::task.rating"></star-rating>
            </p>
            <p ng-if="::fields.state" class="text-bold text-grey">
                <span>{{::task.state}}</span>
                <span ng-if="::fields.assignability">&nbsp;-&nbsp;Locked</span>
                <span class="glyph-icon card-icon" ng-if="::task.assignability"><span class="glyph-lock3"></span></span>
            </p>
            <!--we don't need to show task.id, but alfrescoDbId, and only if it exists 18.12.2015 -->
            <p ng-if="::task.alfrescoDbId"><span class="text-grey text-left">ID#&nbsp;</span>{{::task.alfrescoDbId}}</p>
            <p ng-if="::fields.grade">
                    <span class="text-grey text-left">Grade&nbsp;</span>
                    <span ng-repeat="grade in ::task.grades">{{::grade.name}}{{::$last ? '' : ', '}}</span>
            </p>
            <p ng-if="::fields.notes" class="text-grey">
                <span>{{task.notes | limitTo: limit}} </span>
                <span class="card-ellipsis" ng-show="task.notes.length > limit" ng-click="showFullDescription(task, $parent.settings, $event)">[&hellip;]</span>
            </p>
            <p ng-if="::fields.ownerName"><span class="text-bold">Owner:&nbsp;</span>{{::task.ownerName}}</p>
            <p ng-if="::fields.type"><span class="text-bold">Type:&nbsp;</span>{{::task.type}}</p>
            <p ng-if="::fields.assignability"><span class="text-bold">Assignability:&nbsp;</span><span>{{::task.assignability ? 'Locked' : 'Available'}}</span></p>
            <p ng-if="::fields.creationDate" class="task-date"><span class="text-grey text-bold">Created:&nbsp;</span>{{::task.creationDate | date : "MMM d, y 'at' h:mma"}}<p>
            <p ng-if="::fields.modifiedDate" class="task-date"><span class="text-grey text-bold">Modified:&nbsp;</span>{{::task.modifiedDate | date : "MMM d, y 'at' h:mma"}}</p>
            <div class="card-footer clearfix" ng-if="::(fields.priority || fields.flag || fields.preview)">
                <hr class="card-divider"/>
                <p ng-if="::fields.priority" class="text-left"><priority-level value="::task.priority._id"></priority-level></p>
                <div class="text-right">
                    <span class="glyph-icon card-icon" ng-if="::(fields.flag || fields.mediaFlag)">
                        <span class="task-flag glyph-flag" ng-if="::(task.flag._id === 'AUTHFLAG_TRUE')"></span>
                        <span class="task-flag glyph-images2" ng-if="::(task.mediaFlag._id === 'MEDFLAG_TRUE')"></span>
                    </span>
                    <button ng-if="::(fields.preview && task.preview)" type="button" class="button card-preview"
                            ng-lazy-click="clickCallbacks(task, $event, true)">
                        <span class="glyph-icon"><span class="glyph-eye"></span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="edit-wrapper"></div>
</div>
