.task-groups-button {
    margin-top: -8px;
    margin-bottom: 9px;
    button {
        margin: 0;
        font-weight: normal;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 5px;
        font-size: 11px;
        background: white;
        color: grey;
        border: 2px solid #a5a5a5;
    }
}
