.priority-level {
  font-weight: 600;
  margin-bottom: 4px;
  .priority-icon {
    word-spacing: -3px;
    font-size: 12px;
    position: relative;
    top: -2px;
  }
  .high-priority {
    color: #dc4444;
  }
}