<div class="priority-level" ng-switch on="::value">
    <div class="high-priority" ng-switch-when="0">
        High&nbsp;
        <span class="glyph-icon priority-icon">
            <span class="glyph-circle2"></span>
            <span class="glyph-circle2"></span>
            <span class="glyph-circle2"></span>
        </span>
    </div>
    <div class="medium-priority" ng-switch-when="1">
        Medium&nbsp;
        <span class="glyph-icon priority-icon">
            <span class="glyph-circle2"></span>
            <span class="glyph-circle2"></span>
        </span>
    </div>
    <div class="low-priority" ng-switch-default>
        Low&nbsp;
        <span class="glyph-icon priority-icon">
            <span class="glyph-circle2"></span>
        </span>
    </div>
</div>