.add-resources-block {
    background: #555;
    color: #fff;
    padding: 15px;
    line-height: 20px;
    svg {
        vertical-align: middle;
    }

    .add-button {
        cursor: pointer;
        color: #31B3FF;
        float: right;
        margin-right: 15px;
        b {
            font-weight: bold;
            font-size: 13px;
        }
    }
}