.kanban {
    max-width: 1140px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 13px;

    .kanban-header {
        border: 2px solid #cdcdcd;
        background: #ffffff;
        margin-right: -4px;
        overflow: hidden;
    }

    .kanban-header-wrapper {
        z-index: 98;
    }
}

.modal-open {
    overflow: hidden;
}

.kanban-read-only {
    .kanban-header-wrapper {
        margin-bottom: 16px;
    }
}