$gutter: 6px;
.custom-kanban {
    background: #f0f0f0;
    .kanban-wrapper {
        display: table;
        table-layout: fixed;
        height: 100%;
    }

    .kanban-column-title {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        padding: 10px $gutter 10px 10px;
        background: #555555;
        border-top: 1px solid #DEDEDE;
        border-right: 1px solid #A2A2A2;
    }

    .kanban-row {
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
    }

    .kanban-column {
        display: table-cell;
        vertical-align: top;
        width: 300px;
        min-width: 300px;
    }

    .kanban-container {
        padding: 0 20px;
    }

    .cards-container {
        padding-bottom: 24px;
    }

    .swim-lane {
        background: #ffffff;
        padding: 10px 20px;
    }

    .swim-title {
        padding: 0 $gutter;
        color: #555555;
        font-size: 18px;
        font-weight: 600;
        line-height: 47px;
    }

    .swim-toolbar {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .swim-button {
        color: #31b3ff;
        font-size: 18px;
        margin: 0;
        float: right;
    }

    .empty-placeholder {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        color: #555555;
        height: 0;
        line-height: 80px;
        width: 100%;
        overflow: visible;
    }

    .as-sortable-placeholder {
         background: #f9f9f9;
         margin: 5px;
         border: 1px #b0b0b0 dashed;
         border-radius: 3px;
     }

    .empty-placeholder + .as-sortable-placeholder {
        margin-top: -10px;
    }

    .kanban-groups {
        background: #eec285;
        padding: $gutter;
        margin-bottom: 28px;
    }
}