.kanban {
    max-width: 1140px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 13px;

    .kanban-header {
        border: 1px solid #cdcdcd;
        background: #ffffff;
        overflow: hidden;
        margin-bottom: -1px;
    }

    .kanban-header-wrapper {
        z-index: 98;
        clear: both;
    }
}

.modal-open {
    overflow: hidden;
}

.kanban-read-only {
    .kanban-header-wrapper {
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .kanban .kanban-header {
        margin-right: 0;
    }
}
