<div class="custom-kanban">
    <div class="swim-lane">
        <span class="swim-title">
            {{board.name}}
        </span>
        <button class="button white swim-button" onclick="alert('no aciton yet')">
            Add Task
        </button>
    </div>
    <div class="kanban-container">
        <div class="kanban-row">
            <div class="kanban-wrapper">
                <div class="kanban-column as-sortable" ng-repeat="column in columns">
                    <div class="kanban-column-title">
                        {{column.name}}
                        <!--{{column.cards.length}}-->
                    </div>
                </div>
            </div>
            <div class="kanban-groups">
                <kanban-group class="kanban-group" group="group" ng-repeat="group in groups">

                </kanban-group>
            </div>
            <div class="kanban-wrapper cards-container">
                <div class="kanban-column as-sortable" ng-repeat="column in columns" ng-model="column.tasks"
                     data-as-sortable="scrollCallbacks" kanban-column="{{::$index}}">
                    <kanban-card class="kanban-card as-sortable-item" ng-class="task.type"
                                 ng-repeat="task in column.tasks" data-as-sortable-item></kanban-card>
                    <div ng-if="isEmpty()" class="empty-placeholder">No items on the list</div>
                </div>
            </div>
        </div>
    </div>
</div>