<div class="kanban-board" horizontal-scroll scrollable-element>
    <div class="empty-placeholder" ng-hide="swimlane.$tasksCount">
        <p>{{::swimlane.addAlertText}}</p>
        <button class="button blue select-skills-button">{{::swimlane.addButtonText}}</button>
    </div>
    <div class="kanban-wrapper" columns-width>
        <div class="kanban-column as-sortable" ng-repeat="column in swimlane.columns" ng-model="column.tasks" data-as-sortable="scrollCallbacks">
            <kanban-card class="kanban-card as-sortable-item" ng-repeat="task in column.tasks" data-as-sortable-item></kanban-card>
        </div>
    </div>
</div>