<div class="kanban-board" horizontal-scroll scrollable-element>
    <div class="kanban-container">
        <div class="kanban-row" columns-width>
            <div class="kanban-wrapper cards-container">
                <div class="kanban-column as-sortable" ng-repeat="column in columns" ng-model="column.tasks"
                     data-as-sortable="scrollCallbacks" kanban-column="{{::$index}}">
                    <kanban-card class="kanban-card as-sortable-item" ng-class="task.color"
                                 ng-repeat="task in column.tasks" data-as-sortable-item></kanban-card>
                    <div ng-if="isEmpty()" class="empty-placeholder">no items in list</div>
                </div>
            </div>
        </div>
    </div>
</div>