.kanban-board {
    background: #f0f0f0;
    max-height: 820px;
    overflow-x: hidden;
    border-left: 1px solid #DBDCDE;
    border-right: 1px solid #DBDCDE;
    .kanban-wrapper {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
        min-height: 350px;
    }

    .kanban-column {
        display: table-cell;
        vertical-align: top;
        width: 228px;
        min-width: 228px;
        background: #f6f6f6;
        border-right: 1px solid #DBDCDE;
        box-sizing: border-box;
        &:last-child {
            border-right: none;
            float: none;
        }
        padding-top: 8px;
        padding-bottom: 20px;
    }

    .empty-placeholder {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
        color: #555555;
        height: 0;
        line-height: 80px;
        width: 100%;
        overflow: visible;
    }

    .as-sortable-placeholder {
         background: #f9f9f9;
         border: 1px #b0b0b0 dashed;
         border-radius: 3px;
         margin: 5px auto;
     }

    .empty-placeholder + .as-sortable-placeholder {
        margin-top: -10px;
    }

    &.collapse {
        display: none;
    }

    &.collapse.in {
        display: block;
    }

    &.collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: height .35s ease;
    }
}