.kanban-notify.cg-notify-message {
    background: #0FAE4A;
    color: white;
    opacity: 1;
    border: none;
    //sorry for this margin
    margin-left: -145px;
}

.kanban-board {
    background: #f0f0f0;
    max-height: 620px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid #DBDCDE;
    border-top: none;
    scroll-behavior: auto;
    .team-message {
        z-index: 1;
        margin: 30px 23px;
        position: relative;
        padding: 30px;
        text-align: center;
        border: 1px #979797 dashed;
        overflow: hidden;
        .as-sortable-placeholder {
            background: #DAECF8;
            z-index: -1;
            border: none;
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            width: 100% !important;
        }
    }
    .kanban-wrapper {
        position: relative;
        display: table;
        table-layout: fixed;
        min-height: 300px;
        height: 300px;
    }

    &.team-kanban {
        .kanban-wrapper {
            min-height: 0;
            height: 0;
        }
        .team-message {
            display: block;
        }
    }

    &.not-team-kanban {
        .team-message {
            display: none;
        }
        .kanban-clmn-barred {
            background: #cccccc;
            .kanban-card {
                opacity: 0.1;
            }
            .as-sortable-placeholder {
                display: none;
            }

            .kanban-clmn-warning {
                display: block;
            }
        }
    }

    .empty-placeholder {
        position: absolute;
        max-width: 1140px;
        padding: 30px 20px 10px;
        vertical-align: middle;
        text-align: center;
        color: #555555;
        line-height: 80px;
        width: 100%;
        overflow: visible;
        z-index: 1;
        p {
            font-weight: 600;
            font-size: 16px;
        }
        button {
            font-size: 16px;
        }
    }

    .select-skills-button {
        min-width: 230px;
        border-width: 1px;
    }
}

.swim-lane.empty {
    .kanban-board {
        min-height: 146px;
    }
}

.kanban.kanban-touch {
    .kanban-board {
        overflow: scroll;
    }
}