.reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.45);
    z-index: 98;
    display: none;
    top: 0;
    left: 0;
}

.reveal-modal {
    .modal-title {
        padding: 10px;
        font-size: 16px;
        min-height: 40px;
        margin: 0;
        background: #555;
        color: #fff;
        font-weight: 400;
        .large-3 {
            padding: 0;
        }
    }
    .wrapper {
        padding: 12px 5px 0;
    }
    .close-reveal-modal {
        font-size: 27px;
        line-height: 25px;
        position: absolute;
        top: 0.27em;
        right: 10px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            text-decoration: none;
        }
    }

    .footer {
        text-align: center;
        padding-top: 16px;
        padding-bottom: 16px;
        .button {
            margin-bottom: 0;
            font-size: 16px;
            padding: 10px 40px;
        }
    }
}