<div class="kanban-debug" ng-show="groups.length">
    <button ng-click="showDebug = !showDebug">show debug</button>
    <div ng-repeat="group in groups" ng-click="showGroup = !showGroup" ng-init="showGroup=true" ng-show="showDebug">
        <b class="group-name">
            {{::group.groupName}}
            [tasks: <span opacity-on-changed="group.tasks.length" set-text="true"></span>,
            width: <span opacity-on-changed="group.width" set-text="true"></span>]
        </b>
        <div ng-repeat="task in group.tasks" ng-show="showGroup">
            <b>{{task.taskName}}</b>
            column: <i opacity-on-changed="task.column.name" set-text="true"></i>
        </div>
    </div>
</div>
