<div class="layout-switcher">
    <label><input type="radio" ng-model="hash.contentLevel" value="minimum"/>Minimum Content Level</label>
    <label><input type="radio" ng-model="hash.contentLevel" value="medium"/>Medium Content Level</label>
    <label><input type="radio" ng-model="hash.contentLevel" value="maximum"/>Maximum Content Level</label>
    <hr/>
    <label><input type="radio" ng-model="hash.layout" value="planner"/>Planner</label>
    <label><input type="radio" ng-model="hash.layout" value="planner-no-tasks"/>Planner [no tasks]</label>
    <label><input type="radio" ng-model="hash.layout" value="empty-planner"/>Empty planner</label>
    <label><input type="radio" ng-model="hash.layout" value="work-tracker"/>Work Tracker</label>
    <label><input type="radio" ng-model="hash.layout" value="empty-work-tracker"/>Empty Work Tracker</label>
    <hr/>
    <label><input type="checkbox" ng-model="hash.readOnly"/>Read Only</label>
    <label><input type="checkbox" ng-model="hash.empty"/>Empty State</label>
</div>
