.swim-lane {
    .swim-title {
        margin-left: 6px;
        font-size: 18px;
        line-height: 27px;
        vertical-align: middle;
        color: #555555;
        font-weight: 600;
    }

    .swim-toolbar {
        display: inline-block;
        text-align: right;
        width: 100%;
    }

    .swim-button {
        color: #31b3ff;
        font-size: 18px;
        margin: 0;
        float: right;
    }

    .swim-lane-header {
        background: #ffffff;
        padding: 10px 20px;
        border: 1px solid #cbcbcb;
        height: 50px;
        margin: 0 -8px;
    }

    .swim-lane-toggle {
        cursor: pointer;
        color: #555555;
        font-weight: 600;
    }

    .swim-length {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        vertical-align: middle;
        &:before {
            content:"\00a0\2014\00a0";
        }
    }

    .no-tasks-in-groups {
        background: #f6f6f6;
        text-align: center;
        border: 1px solid #DBDCDE;
        padding: 30px;
        b {
            font-weight: bold!important;
        }
    }
}