<div class="swim-lane" ng-class="{'empty': !swimlane.$tasksCount, 'no-groups': !groups.length}" ng>
    <div class="swim-lane-header swim-lane-toggle" ng-click="toggleCollapse()">
    <span class="glyph-icon" ng-hide="settings.readOnly">
        <span ng-class="{'glyph-chevron-expanded': !expanded, 'glyph-chevron-collapsed': expanded}"></span>
    </span>
        <span class="swim-title">{{swimlane.name}}</span>
        <span class="swim-length">&nbsp;{{swimlane.$tasksCount}}</span>
        <div class="add-resource-button" ng-hide="settings.readOnly">
            <span class="glyph-icon"><i class="glyph-plus-circle2"></i></span>
            <button class="button" ng-if="swimlane.addResourcesButtonText" ng-click="addResource($event)">{{swimlane.addResourcesButtonText}}</button>
        </div>
    </div>
    <kanban-board swimlane="swimlane" expand-collapse="expanded" expand-disabled="settings.readOnly" settings="settings"></kanban-board>
</div>