<div class="task-group" delta-drag-handler="dragHandler" ng-class="{'opacity': group.opacity, 'expanded-group': group.$expandedGroup, 'highlighted-group': group.$highlightedGroup}">
    <div class="task-group-content" ng-style="getStyle(group, group.$highlightedGroup)">
        <div class="task-group-color" ng-style="{'background': group.color}"></div>
        <div class="drag-button" ng-hide="settings.readOnly">
            <span class="gl-drag-indicator-kanban"></span>
        </div>

        <div class="after-button-area" >
            <div class="group-name">
                <glyph-icon icon="group.appRef" class="card-icon"></glyph-icon>
                <span ng-bind-html="::group.groupName | sanitize"></span>
                <span class="unbold">({{group.tasks.length}})</span>
            </div>
            <div class="info">
                <div class="group-info">
                    <div>Master {{group.masterName}}</div>
                    <div>Owner: {{group.ownerName}}</div>
                </div>
                <div class="group-info secondary">
                    <div>Created: {{::group.creationDate | date : "MM/dd/yy h:mm a" | lowercase}}</div>
                    <div>Modified: {{::group.modifiedDate | date : "MM/dd/yy h:mm a"  | lowercase}}</div>
                </div>
                <div class="group-info status" ng-class="{Completed: 'complete'}[group.state]">
                    <div>{{group.state}}</div>
                </div>
            </div>
        </div>

        <div ng-hide="settings.readOnly" resize-button="resize" class="resize-button" expand-area>
            <glyph-icon icon="'glyph-arrow7'"></glyph-icon>
        </div>

    </div>
</div>