.scroll-bar {
    width: 100%;
    border: none;
    overflow-x: auto;
    overflow-y: hidden;
    height: 20px;
    background: rgb(241, 242, 242);;
    display: block;
    .inner {
        height: 20px;
    }
}