.scroll-bar {
    width: 100%;
    border: none;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 20px;
    background: #f6f6f6;
    display: block;
    .inner {
        height: 20px;
    }
}