.gl-drag-indicator {
    cursor: move;
    position: absolute;
    left: -14px;
    width: 24px;
    overflow: hidden;
    z-index: 1;
    top: 2px;
    bottom: 3px;
    &:before {
        font-family: 'RLGlyphs';
        font-size: 48px;
        content: "\e613\e613\e613\e613\e613\e613\e613\e613";
        line-height: 38px;
        word-wrap: break-word;
    }
}